.main {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  max-width: 1920px;
  grid-column-gap: 114px;
  padding: 49px 183px 0 388px;
  background-color: #040e1f;

  .info {
    max-width: 604px;
    margin: 111px 0 0 0;
    .description {
      max-width: 558px;
      margin: 0;
      font-size: 18px;
      line-height: 160%;
      color: #3a68b8;

      &_full {
        max-width: 558px;
        font-size: 18px;
        line-height: 160%;
        color: #ffffff;
        opacity: 0.7;
      }
    }
    .title {
      font-family: "OpenSansExtraBold";
      font-weight: 800;
      font-size: 55px;
      line-height: 71.5px;
      color: #ffffff;
      margin: 10px 0 40px 0;
    }

    .buttons {
      margin-top: 50px;
      padding-bottom: 15px;

      .link {
        font-size: 20px;
        line-height: 27px;
        color: #ffffff;
        text-decoration: none;
        background: #3a68b8;
        padding: 15px 30px;
        margin-right: 20px;
        border-radius: 5px;
      }
    }
  }
  .image {
    max-width: 632px;
  }
}
